# Byte-compiled / optimized files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env
src/backend/.env
src/agent/.env

# Distribution / packaging
build/
dist/
*.egg-info/

# Pytest
.pytest_cache/

# IDEs and editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*.sw?

# System files
.DS_Store
Thumbs.db

#djano venv
src/backend/venv

# local database
src/backend/db.sqlite3
src/agent/db.sqlite3
src/backend/postgres_data/

# Logs
src/backend/logs/
src/agent/logs/ 

# Coverage reports
.coverage
htmlcov/  

#miniconda
miniconda3**
Miniconda3-latest-Linux-x86_64.shMiniconda3-latest-Linux-x86_64.sh
Miniconda3-latest-Linux-x86_64.sh
